<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POSE4CUT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
  </head>
  <body>
    <div id="wrapper">
        <div class="fourbyone1">
            <img src="{% static 'images/3rdpage-1x4-2.png' %}" style="width:24.64px; height:69px;">
        </div>
        <div class="membernumber">
          <div class="all">
            <img src="{% static 'images/all_unselect.png' %}" style="width:73px; height:36px;">
          </div>&nbsp;&nbsp;
          <div class="one">
            <img src="{% static 'images/one_unselect.png' %}" style="width:73px; height:36px;">
          </div>&nbsp;&nbsp;
          <div class="two">
            <img src="{% static 'images/two_unselect.png' %}" style="width:73px; height:36px;">
          </div>&nbsp;&nbsp;
          <div class="three">
            <img src="{% static 'images/three_unselect.png' %}" style="width:73px; height:36px;">
          </div>&nbsp;&nbsp;
          <div class="four">
            <img src="{% static 'images/fourmore_unselect.png' %}" style="width:73px; height:36px;">
          </div>
        </div>
        <div class="db">
          <div class="none">
            <img src="{% static 'images/db/fourbyone/none.png' %}" style="width:172px; height:137px;">
          </div>
          <img class= "sample" src="{% static 'images/db/fourbyone/sample.png' %}" style="width:172px; height:137px;">
          <img class= "H_154_2" src="{% static 'images/db/fourbyone/H_154_2.png' %}" style="width:172px; height:137px;">
          <div class="modal">
            <span class="close">&times;</span>
            <img class="modal_content">
            <div class="apply">
              <button type="submit" onclick="toggleImg()">apply</button>
            </div>
          </div>
        </div> 
        <div class="gobackbutton">
            <a href="{% url 'fourbyone' %}">
              <img src="{% static 'images/gobackbutton.png' %}" style="width:69px; height:69px;">
            </a>
        </div>
    </div>
    <script src="{% static 'js/modalcopy.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/imagedownload.js' %}"></script>
    <script src="{% static 'js/apply.js' %}"></script>
    <script src="{% static 'js/applycopy.js' %}"></script>
  </body>
</html>
