<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POSE4CUT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
  </head>
  <body>
    <div id="wrapper">
      <div class="gohome">
        <a href="{% url 'index' %}">
          <img src="{% static 'images/backarrow.png' %}" style="width:21.7px; height:18.95px;">
          뒤로가기
        </a>
      </div>
      <div class="frame_fourbyone">
        <a href="{% url 'fourbyone_1' %}">
          <div class="fourbyone_1">
            <img id="img" src="{% static 'images/db/fourbyone/none.png' %}" style="width:172px; height:137px;">
          </div>
        </a>
        {% comment %} <a href="{% url 'fourbyone_2' %}">
          <div class="fourbyone_2"></div>
        </a>
        <a href="{% url 'fourbyone_3' %}">
          <div class="fourbyone_3"></div>
        </a>
        <a href="{% url 'fourbyone_4' %}">
          <div class="fourbyone_4"></div>
        </a> {% endcomment %}
      </div>
      <div class="savebox">
        <a href="images/db/sample.png" download><button><img src="{% static 'images/downloadbtn.png' %}" style="width:69px; height:69px;"></button></a>
      </div>
      <div class="instagram">
        <img src="{% static 'images/instagrambtn.png' %}" style="width:69px; height:69px;">
      </div>
    </div>
    <script src="{% static 'js/apply.js' %}"></script>
  </body>
</html>
