<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POSE4CUT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
  </head>
  <body>
    <div id="wrapper">
      <div class="pose4cut_intro_logo">POSE4CUT</div>
      <div class="pose4cut_intro_phrase">
        수십가지 포즈를 원하는대로 조합해보세요
      </div>
      <div class="frame_option">
        <div class="fourbyone">
          <a href="{% url 'fourbyone' %}">
            <img src="{% static 'images/fourbyone.png' %}" style="width:81px; height:243px;">
          </a>
        </div>
        <div class="twobytwo">
          <a href="{% url 'twobytwo' %}">
            <img src="{% static 'images/twobytwo.png' %}" style="width:162px; height:243px;">
          </a>
        </div>
      </div>
      <div class="posechoose">
        원하는 프레임 모양을 선택하세요
      </div>
    </div>
  </body>
</html>
