<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POSE4CUT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
  </head>
  <body>
    <div id="wrapper">
      <div class="pose4cut_intro_logo">POSE4CUT</div>
      <div class="pose4cut_intro_phrase">
        수십가지 포즈를 원하는대로 조합해보세요
      </div>
      <div class="frame_option">
        <div class="fourbyone">
          <img src="{% static 'images/fourbyone.jpg' %}">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1"></label>
          </div>
        </div>
        <div class="twobytwo">
          <img src="{% static 'images/twobytwo.jpg' %}">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
            />
            <label class="form-check-label" for="flexRadioDefault2"></label>
          </div>
        </div>
      </div>

      <div style="cursor: pointer">
        <div class="posestart">
          <div class="posestart_phrase">만들기 &nbsp;&nbsp; ></div>
        </div>
      </div>
    </div>
  </body>
  <!-- <footer>포즈네컷 @2023</footer> -->
</html>
