@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

#wrapper {
    width: 360px;
    margin: 0 auto;
  }

a {
  text-decoration: none;
  color: #000000;
}

.pose4cut_intro_logo {
  width: 187px;
  height: 42px;
  margin-left: 16px;
  top: 0px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  /* font-size: 10vw; */
  line-height: 42px;
  color: #000000;

  /* margin-top: 52px; */
  margin-top:8vh;
  margin-bottom: 5px;
}

.pose4cut_intro_phrase {
  /* width: 294px; */
  height: 21px;
  margin-left: 16px;
  top: 0px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* font-size: 5vw; */
  line-height: 21px;

  color: #000000;

  margin-top: 5px;
}

.frame_option {
  display: flex;
  /* margin-top: 136px; */
  margin-top: 20vh;
}

.fourbyone {
  margin-left: 30px;
  margin-right: 30px;
}

.twobytwo {
  margin-left: 30px;
  margin-right: 30px;
}

.form-check {
  margin-top: 50px;
  text-align: center;
}

.posechoose {
  height: 23px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin-top: 107px; */
  margin-top: 15vh;
}

.gohome {
  width: 100px;
  height: 24px;
  position: fixed;
  top : 24px;
  left : 44px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame_fourbyone {
  position:fixed;
  /* width: 218.17px; */
  /* width:60.5%; */
  width: 28vh;
  /* height: 650px; */
  height:83vh;
  /* margin-left: 71px;*/
  top: 10%;
  background: #000000;
}

.fourbyone_1 {
  position: absolute;
  /* width: 183px; */
  /* width:46vw; */
  width: 84%;
  /* height: 147px; */
  height: 18.7vh;
  margin-left: 7.8%;
  margin-right: 7.8%;
  margin-top: 36px;
  background: #FFFFFF;
}

.fourbyone_2 {
  position: absolute;
  width: 84%;
  height: 37.4vh;
  margin-left: 7.8%;
  margin-right: 7.8%;
  margin-top: 186px;

  background: #FFFFFF;
}

.fourbyone_3 {
  position: absolute;
  width: 84%;
  height: 147px;
  margin-left: 7.8%;
  margin-right: 7.8%;
  margin-top: 336px;

  background: #FFFFFF;
}

.fourbyone_4 {
  position: absolute;
  width: 84%;
  height: 147px;
  margin-left: 7.8%;
  margin-right: 7.8%;
  margin-top: 486px;

  background: #FFFFFF;
}

.backarrow {
  Width : 10.85px;
  Height : 18.95px;
  Top : 2.52px;
  Left : 6.43px;
  background: #000000;
}

.savebox {
  position: fixed;
  box-sizing: border-box;
  width: 69px;
  height: 69px;
  right: 25px;
  bottom: 115px;
}

.instagram {
  position: fixed;
  box-sizing: border-box;
  width: 69px;
  height: 69px;
  right: 25px;
  bottom: 37px;
}

.frame_twobytwo {
  position: absolute;
  width: 329.1px;
  height: 490px;
  margin-left: 16px;
  margin-top: 148px;

  background: #000000;
}

.twobytwo_1 {
  position: absolute;
  width: 149px;
  height: 204px;
  left: 14px;
  top: 29px;

  background: #FFFFFF;
}

.twobytwo_2 {
  position: absolute;
  width: 149px;
  height: 204px;
  left: 167px;
  top: 29px;
  
  background: #FFFFFF;
}

.twobytwo_3 {
  position: absolute;
  width: 149px;
  height: 204px;
  left: 14px;
  top: 263px;

  background: #FFFFFF;
}

.twobytwo_4 {
  position: absolute;
  width: 149px;
  height: 204px;
  left: 167px;
  top: 263px;

  background: #FFFFFF;
}

.fourbyone1 {
  position: fixed;
  left : 22px;
  top: 13px;
}

.gobackbutton {
  position: fixed;
  box-sizing: border-box;
  width: 69px;
  height: 69px;
  right: 25px;
  bottom: 37px;
}

.membernumber {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  white-space: nowrap;
  margin-top:106px;
}

.memebernumber::-webkit-scrollbar{
  display: none;
}

.none {
  position : fixed;
  top: 182px;
  left: 11px;
}

.sample {
  position : fixed;
  top: 182px;
  left: 198px;
}

.H_154_2 {
  position : fixed;
  top : 350px;
  left: 11px;
}

.modal {
  display: none; /* 모달창 숨겨 놓기 */
  position: fixed; 
  z-index: 1; /* 모달창을 제일 앞에 두기 */
  padding-top: 100px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto; /* 스크롤 허용 auto */
  cursor: pointer; /* 마우스 손가락모양 */
  background-color: rgba(0, 0, 0, 0.8);
}
/* 모달창 이미지 */
.modal_content {
  margin: auto;
  display: block;
  width: 70%; height: auto;
  max-width: 1000px;
  border-radius: 10px;
  top:250px;
  /* animation-name: zoom;
  animation-duration: 0.8s; */
}
/* 모달창 애니메이션 추가 */
/* @keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} */
/* 닫기 버튼 꾸미기 */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}