@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

#wrapper {
    width: 360px;
    margin: 0 auto;
  }

.pose4cut_intro_logo {
  width: 187px;
  height: 42px;
  left: 0px;
  top: 0px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #000000;

  margin-top: 52px;
  margin-bottom: 5px;
}

.pose4cut_intro_phrase {
  width: 294px;
  height: 21px;
  left: 0px;
  top: 0px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;

  margin-top: 5px;
}

.frame_option {
  display: flex;
  margin-top: 136px;
}

.fourbyone {
  margin-left: 30px;
  margin-right: 30px;
}

.twobytwo {
  margin-left: 30px;
  margin-right: 30px;
}

.form-check {
  margin-top: 50px;
  text-align: center;
}

.posechoose {
  height: 23px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 90px;
}

.gohome {
  width: 70px;
  height: 24px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame_fourbyone {
  width: 218.17px;
  height: 650px;
  margin-left: 71px;
  margin-top: 81px;
  background: #000000;
}

.fourbyone_1 {
  width: 183px;
  height: 147px;
  margin-left: 17px;
  margin-top: 36px;
  background: #FFFFFF;
}

.fourbyone_2 {
  width: 183px;
  height: 147px;
  margin-left: 17px;
  margin-top: 186px;

  background: #FFFFFF;
}

.fourbyone_3 {
  width: 183px;
  height: 147px;
  margin-left: 17px;
  margin-top: 336px;

  background: #FFFFFF;
}